# -----------------------------------------
# WHERE I'M RUNNING
# VALUES: "local" and "production" only
# -----------------------------------------
ENV=local

### ---------------------------------------------
# Application Configuration
### ---------------------------------------------
APP_NAME=go-scaffold
DEBUG=false
API_PORT=8080

# ---------------------------------------------
# Goose Migration Configuration
# ---------------------------------------------
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://postgres:postgres@postgres:5432/postgres?sslmode=disable

# -----------------------------------------
# POSTGRES DATABASE
# -----------------------------------------
POSTGRES_WRITE_DSN="host=postgres user=postgres password=postgres dbname=postgres port=5432 sslmode=disable"
POSTGRES_READ_DSN="host=postgres user=postgres password=postgres dbname=postgres port=5432 sslmode=disable"

# -----------------------------------------
# RABBITMQ
# -----------------------------------------
RABBITMQ_DSN="amqp://guest:guest@rabbitmq:5672/"

# -----------------------------------------
# REDIS CACHE
# -----------------------------------------
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# -----------------------------------------
# HASH-ID SALT
# -----------------------------------------
HASH_ID_SALT=""
