# Go workspace file
go.work
go.work.sum

#docker volumes
.docker
.idea
tmp

# env file
**/.env

# mock files
**/*_mock.go
.
# Migration scripts
scripts/migrate-from-supabase/extracted/
scripts/migrate-from-supabase/extract-data
scripts/migrate-from-supabase/go.sum
